/*Background elements*/
h1 {
  font-family: monospace;
  font-size: 50;
  color: white;
  text-align: center;
  width: 600;
}

h2 {
 font-family: monospace;
 font-size: 30;
 color: white;
 text-align: center;
 width: 600;
}

#background {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: auto;
  z-index: -1;
}

/*sliding panel elements*/

#sliding_panel {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 90%;
  width: 100%;
  overflow: hidden;
}

#slider_content {
  position: relative;
  height: 100%;
  width: 1000%;
}

.page {
  width: 10%;
  height: 100%;
  float: left;
}

/*Left hand table elements*/
table {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.left {
  /*position: absolute;*/
  top: 0px;
  width: 340px;
  height: 100%;
  float: left;
  left: 0px;
}

.right {
  float: right;
  width: 340px;
  height: 100%;
  top: 0px;
  right: 0px;
  width: 340px;
}

#bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 10%;
  width: 100%;
  clear: both;
}

.world_button {
  height: 30px;
  width: 160px;
  word-wrap: normal;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}

#world_table {
  margin: auto;
  height: 100%;
}

#world_selected {
  position: relative;
  width: 159px;
  height: 30px;
  background-color: #666666;
  border: none;
  z-index: -1;
}

.world_button:hover {
  background-color: #151515;
}

.world_button:active {
  background-color: #AAAAAA;
  color: #151515;
}

/*Left table*/

#units_table {
  padding-top: 10px;
}

.table_text {
  width: 300px;
  height: 60px;
  font-size: 17px;
  background-color: black;
  color: white;
  border: none;
  text-align: right;
  vertical-align: middle;
  font-family: arial;
}

.table_button {
  width: 340px;
  height: 40px;
  font-size: 17px;
  background-color: black;
  color: white;
  transition-duration: 0.2;
  border: none;
  text-align: left;
  font-family: arial;
}

.table_button:hover {
  background-color: #151515;
}

.table_button:active {
  background-color: #AAAAAA;
  color: #151515;
}
